/* *{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: sans-serif;

}

body {
	background: #F9C581;
	font-family: 'Roboto', sans-serif;
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
} */